src/AppleSDKTips.xcodeproj/project.xcworkspace/xcuserdata
src/AppleSDKTips.xcodeproj/xcuserdata
src/AppleSDKTips.xcworkspace/xcuserdata
*.swp
Info-dev.plist
src/amplify
awsconfiguration.json
amplifyconfiguration.json
