<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>

		<dict>
			<key>title</key>
			<string>UIKit - CollectionView</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>Basic - 1</string>
					<key>vc</key>
					<string>CollectionView1ViewController</string>
				</dict>
			</array>
		</dict>

		<dict>
			<key>title</key>
			<string>UIKit - ScrollView</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>zooming</string>
					<key>vc</key>
					<string>ZoomingSample1ViewController</string>
				</dict>
			</array>
		</dict>

	</array>
</array>
</plist>
