<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>

		<dict>
			<key>title</key>
			<string>Search(iOS9)</string>
			<key>items</key>
			<array>

				<dict>
					<key>title</key>
					<string>private on-device indexテスト</string>
					<key>vc</key>
					<string></string>
				</dict>

				<dict>
					<key>title</key>
					<string>Apple's server-side indexテスト</string>
					<key>vc</key>
					<string></string>
				</dict>


			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>CoreData</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>バンドル内のNSManagedObjectModelをロードする</string>
					<key>vc</key>
					<string>iOSMTCoreData1ViewController</string>
				</dict>

				<dict>
					<key>title</key>
					<string>NSPersistentStoreCoordinator</string>
					<key>vc</key>
					<string>iOSMTCoreData2ViewController</string>
				</dict>

				<dict>
					<key>title</key>
					<string>未定</string>
					<key>vc</key>
					<string></string>
				</dict>

			</array>
		</dict>

		<dict>
			<key>title</key>
			<string>UIKit - コンテナ, 他</string>
			<key>items</key>
			<array>

				<dict>
					<key>title</key>
					<string>複数個のアイコンが並ぶ、高さ可変のコレクションビュー</string>
					<key>vc</key>
					<string>iOSMTSample20150720CollectionViewController</string>
				</dict>

				<dict>
					<key>title</key>
					<string>Auto Layoutの仕組みを用いた、マルチデバイス対応の、高さが可変のテーブルビューセル。</string>
					<key>vc</key>
					<string>iOSMTSample1DynamicHeightTableCellViewController</string>
				</dict>

				<dict>
					<key>title</key>
					<string>２つの表示モードを持つテーブルビュー</string>
					<key>vc</key>
					<string>iOSMTMultiTableViewController</string>
				</dict>


				<dict>
					<key>title</key>
					<string>アクティビティビューコントローラー</string>
					<key>vc</key>
					<string>iOSMTSample1UIActivityViewController</string>
				</dict>

				<dict>
					<key>title</key>
					<string>PDF画像付きボタンとラベル</string>
					<key>vc</key>
					<string>iOSMTSample1ButtonAndLabelViewController</string>
				</dict>


				<dict>
					<key>title</key>
					<string>ページビューコントローラー</string>
					<key>vc</key>
					<string>iOSMTSample1UIPageViewController</string>
				</dict>


				<dict>
					<key>vc</key>
					<string>iOSMTContainerViewControllerCase1</string>
					<key>title</key>
					<string>コンテンツビューx１</string>
				</dict>

				<dict>
					<key>title</key>
					<string>コンテンツビューx７ + 固定ボタンx2</string>
					<key>vc</key>
					<string>iOSMTContainerSample2ViewController</string>
				</dict>


			</array>
		</dict>



		<dict>
			<key>title</key>
			<string>Network</string>
			<key>items</key>
			<array>

				<dict>
					<key>title</key>
					<string>Background Fetch</string>
					<key>vc</key>
					<string>iOSMTNetworkBackgroundFetch1ViewController</string>
				</dict>

			</array>
		</dict>



		<dict>
			<key>title</key>
			<string>BlueTooth</string>
			<key>items</key>
			<array>

				<dict>
					<key>vc_osx</key>
					<string>OSXMTBluetooth6WindowController</string>
					<key>title</key>
					<string>ペリフェラルからNotifyを受ける</string>
					<key>vc</key>
					<string>iOSMTBlueTooth6ViewController</string>
				</dict>


				<dict>
					<key>vc_osx</key>
					<string>OSXMTBluetooth5WindowController</string>
					<key>title</key>
					<string>ペリフェラルへデータをWriteする</string>
					<key>vc</key>
					<string>iOSMTBlueTooth5ViewController</string>
				</dict>


				<dict>
					<key>vc_osx</key>
					<string>OSXMTBluetooth4WindowController</string>
					<key>title</key>
					<string>ペリフェラルからデータをReadする</string>
					<key>vc</key>
					<string>iOSMTBlueTooth4ViewController</string>
				</dict>


				<dict>
					<key>vc_osx</key>
					<string>OSXMTBluetooth3WindowController</string>
					<key>title</key>
					<string>セントラルがペリフェラルのサービスを検索する</string>
					<key>vc</key>
					<string>iOSMTBlueTooth3ViewController</string>
				</dict>


				<dict>
					<key>vc_osx</key>
					<string>OSXMTBluetooth2WindowController</string>
					<key>title</key>
					<string>セントラルがペリフェラルに接続</string>
					<key>vc</key>
					<string>iOSMTBlueTooth2ViewController</string>
				</dict>

				<dict>
					<key>vc_osx</key>
					<string>OSXMTBlueTooth1WindowController</string>
					<key>title</key>
					<string>セントラルがペリフェラルを検出</string>
					<key>vc</key>
					<string>iOSMTBlueTooth1ViewController</string>
				</dict>
			</array>
		</dict>


		<dict>
			<key>title</key>
			<string>Swift - Mix and Match</string>
			<key>items</key>
			<array>
				<dict>
					<key>vc_osx</key>
					<string>OSXMTSwiftBridge1WindowController</string>
					<key>title</key>
					<string>Obj-CからSwiftコードを実行</string>
					<key>vc</key>
					<string>iOSMTSwiftBridge1ViewController</string>
				</dict>
			</array>
		</dict>

		<dict>
			<key>title</key>
			<string>SpriteKit - Basics</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>SKTransition</string>
					<key>vc</key>
					<string>iOSMTSKBasicsTransition1ViewController</string>
				</dict>

				<dict>
					<key>title</key>
					<string>複合SKAction</string>
					<key>vc</key>
					<string>iOSMTSpriteKitBasicsMultiSKAction1ViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>SpriteKit - Particle template</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>Bokeh</string>
					<key>vc</key>
					<string>iOSMTSpriteKitParticleTemplateBokehViewController</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Fire</string>
					<key>vc</key>
					<string>iOSMTSpriteKitParticleTemplateFireViewController</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Firefiles</string>
					<key>vc</key>
					<string>iOSMTSpriteKitParticleTemplateFirefilesViewController</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Magic</string>
					<key>vc</key>
					<string>iOSMTSpriteKitParticleTemplateMagicViewController</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Rain</string>
					<key>vc</key>
					<string>iOSMTSpriteKitParticleTemplateRainViewController</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Smoke</string>
					<key>vc</key>
					<string>iOSMTSpriteKitParticleTemplateSmokeViewController</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Snow</string>
					<key>vc</key>
					<string>iOSMTSpriteKitParticleTemplateSnowViewController</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Spark</string>
					<key>vc</key>
					<string>iOSMTSpriteKitParticleTemplateSparkViewController</string>
				</dict>
			</array>
		</dict>


		<dict>
			<key>title</key>
			<string>UIKit - Storyboard</string>
			<key>items</key>
			<array>
				<dict>
					<key>vc</key>
					<string>iOSMTStoryboardCase2</string>
					<key>title</key>
					<string>シーンとセグエ（コンテナビューコントローラーは１つ）</string>
				</dict>
				<dict>
					<key>title</key>
					<string>シーンとセグエ(TabBarControllerをはさむとUnwindセグエがうまく動作しない)</string>
					<key>vc</key>
					<string>iOSMTStoryboardCase1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UIKit - Collection View</string>
			<key>items</key>
			<array>
				<dict>
					<key>vc</key>
					<string>iOSMTCollectionView2ViewController</string>
					<key>title</key>
					<string>CollectionViewの検証2</string>
				</dict>
				<dict>
					<key>vc</key>
					<string>iOSMTCollectionView1ViewController</string>
					<key>title</key>
					<string>CollectionViewの検証1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UIKit - Auto Layout</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>均等配置</string>
					<key>vc</key>
					<string>iOSMTAutoLayoutCase4</string>
				</dict>

				<dict>
					<key>title</key>
					<string>Pinテスト</string>
					<key>vc</key>
					<string>AutoLaytouCase3</string>
				</dict>
				<dict>
					<key>vc</key>
					<string>iOSMTAutoLayoutCase2ViewController</string>
					<key>title</key>
					<string>Alignテスト</string>
				</dict>
				<dict>
					<key>title</key>
					<string>固定View1をベースにして一時的にView2を表示する</string>
					<key>vc</key>
					<string>iOSMTAutoLayoutIB1ViewController</string>
				</dict>
				<dict>
					<key>vc</key>
					<string>iOSMTAutoLayoutVisualFormat2ViewController</string>
					<key>title</key>
					<string>視覚的書式言語テスト2（作成中）</string>
				</dict>
				<dict>
					<key>vc</key>
					<string>iOSMTAutoLayoutCase1ViewController</string>
					<key>title</key>
					<string>case１：失敗例</string>
				</dict>
				<dict>
					<key>vc_osx</key>
					<string>OSXMTAutoLayout1WindowController</string>
					<key>title</key>
					<string>視覚的書式言語テスト1</string>
					<key>vc</key>
					<string>iOSMTDemystifyAutoLayout1ViewController</string>
				</dict>
				<dict>
					<key>vc_osx</key>
					<string>OSXMTAutoLayout2WindowController</string>
					<key>title</key>
					<string>Inconsistent Rule</string>
					<key>vc</key>
					<string>iOSMTAutoLayoutInconsistentRuleViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>GameController.framework</string>
			<key>items</key>
			<array>
				<dict>
					<key>title</key>
					<string>接続テスト</string>
					<key>vc</key>
					<string>iOSMTGameControllerVerificationTopViewController</string>
				</dict>
			</array>
		</dict>
	</array>
</array>
</plist>
